div.sf-menu div {
  float: left;
}


#navBlau .level_2 {
  margin-top: 40px;
}


.current {
  margin-left: -20px;
}


/*
 * SuperFish Default Stuff
 */
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
}



.sf-menu li {
  position: relative;
}


.sf-menu ul {
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 99;
}


.sf-menu > li {
  float: left;
}


.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
  display: block;
}


.sf-menu ul ul {
  left: 100%;
  top: 0;
}


.sf-menu {
  float: left;
  margin-bottom: 1em;
}


.sf-menu ul {
  min-width: 12em;
}


.sf-menu li {
  transition: background 0.2s ease 0s;
  white-space: nowrap;
}




.sf-menu li:hover, .sf-menu li.sfHover {
  transition: none 0s ease 0s;
}


.sf-vertical {
  width: 12em;
}


.sf-vertical ul {
  left: 100%;
  top: 0;
}


.sf-vertical > li {
  float: none;
}


.sf-vertical li {
  width: 100%;
}


.sf-navbar {
  margin-bottom: 5em;
  position: relative;
}


.sf-navbar:before {
  content: "";
  height: 200%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}


.sf-navbar ul {
  box-shadow: none;
}


.sf-navbar > li > ul {
  min-width: 36em;
}


.sf-navbar ul li {
  position: relative;
}


.sf-navbar ul ul {
  left: 0;
  top: 100%;
}


.sf-navbar ul ul li {
  width: 100%;
}


.sf-navbar > li > ul > li {
  float: left;
}


